.slider-info h4 {
    font-size:3em !important;
}

.service-info {
    padding-top: 0 !important;
}

.service{
	background-color: #2f2f2f !important;
	background-image: none !important;
}

#titleServices{
	color: white !important;
}

.about,.clients,.footer{
    background-color: #FFEB3B;
}

.contact{
	background-color: #2f2f2f !important;
	background-image: none !important;
}

.info-sub-w3 p{
	color: #2f2f2f !important;
	font-size: 20px !important;
}

.icons ul li a{
	color: #2f2f2f !important;
}

.addres-up ul li span{
	color: #2f2f2f !important;
}

.contact input[type="submit"]{
    border: 1px solid #FFEB3B !important;
    background: #FFEB3B !important;
    color: #2f2f2f !important;
}

.wthree-left-right h4{
	color: #2f2f2f !important;
	font-size: 40px !important;
	letter-spacing: 0 !important;
}

.title{
	font-size: 40px !important;
	letter-spacing: 0 !important;
}

.overlay{
	padding: 2em !important;
}

@media (max-width: 991px){
	.navbar-light .navbar-toggler{
		background-color: #FFEB3B !important;
	}
}