.slider-info h4 {
    font-size:3em;
}

.service-info {
    padding-top: 0 !important;
}

.service{
	background-color: #2f2f2f !important;
	background-image: none !important;
}

#titleServices{
	color: white !important;
}

.about{
    background-color: #FFEB3B;
}

.clients{
	background-color: #2f2f2f !important;
}

.footer{
	background-color: #2f2f2f !important;
}

.contact{
	background-color:  #FFEB3B !important;
	background-image: none !important;
}

.info-sub-w3 p{
	color: #2f2f2f !important;
}

.icons ul li a{
	color: white!important;
}

.addres-up ul li span{
	color: white !important;
}

.contact input[type="submit"]{
    border: 1px solid #FFEB3B !important;
    background: #2f2f2f !important;
    color: #FFEB3B !important;
}

.title-fale{
	color: #2f2f2f !important;
}

.wthree-left-right h4{
	color: white !important;
	font-size: 40px !important;
	letter-spacing: 0 !important;
}

.title{
	letter-spacing: 0 !important;
}

.overlay{
	padding: 2em !important;
}


.clientes{
	border-radius: 100%;
	border: 1px solid #2f2f2f;
	background-color: white;
	height: 100px;
	max-width: 100px;
	display: flex;
	align-items: center;
	position: relative;
	margin: 5px;
	justify-content: center;
}

.clientes:hover{
	border: 1px solid #FFEB3B;
	background-color: #ffeb3b78;
	transition-duration: 0.2s;
}

.clientes img {
    display: block;
    max-width: 100%;
    height: auto;
}

#ripanabrasa{
	max-width: 90%;
}

nav.navbar.navbar-expand-lg.navbar-light{
	background-color: white;
	padding: 0 !important;

}

.navbar-light .navbar-nav .nav-link{
	color: black;
}

.navbar-expand-lg .navbar-nav{
	align-items: baseline;
}

.navbar-nav{
	background-color: white !important;
}	

.logo{
	max-width: 25%;
}

.logo img{
	width: 100%;
	height: 100%;
}

.contatoInicio{ 
	height: 25px; 
	background-color: #2f2f2f;
	color: white;
	display: flex;
	width: 100%;
}

.infoInicio{
	font-size: 10px; 
	letter-spacing: 1px; 
	font-family: 'Montserrat', sans-serif;
}

.informacoes{
	display: flex;
    justify-content: flex-end;
}

.informacoes ul{
	display: inline-flex;
}

.informacoes span a:hover{
	color: #FFEB3B;
}

.iconesInicio{
	padding-left: 10px;
}

.header-bar{
	position: inherit;
}

.addres-up ul li span:hover{
	color:  #FFEB3B !important;
}

.icons ul li a span:hover {
    color: #FFEB3B;
}

footer p a:hover{
	color:  #FFEB3B;
}
footer p a{
	text-decoration: none;
}

footer p {
	background-color: #2f2f2fe0 !important;
}

.title-clients{
	color: white !important;
}

.title-about{
	color: #2f2f2f !important;
}

.logoMenor{
	background-color: white;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	vertical-align: center;
}

#botaoMenu{
	float: right;
}


@media (min-width: 992px){
	.logoMenor{
		display: none;
	}
}

@media (max-width: 991px){

	.navbar-light .navbar-toggler{
		background-color: #FFEB3B !important;
		position: inherit;
	}

	.logo{
		display: none;
	}

	.navbar-expand-lg .navbar-nav{
		align-items: inherit;
	}

	div#navbarSupportedContent{
		background-color: white !important;
		justify-content: center;
	}

	.contatoInicio{
		display: none;
	}

}

@media (max-width: 450px){

	.slider-info h4{
		font-size: 2em;
	}

	.info-sub-w3 p{
		font-size: 17px;
	}

	.addres-up ul li p{
		font-size: 9px;
	}
}

@media(max-width:768px){
	#hoverServices:hover{
		font-size: 14px;
	}
}

@media(max-width: 567px) and (min-width: 480px){
	#hoverServices:hover{
		font-size: 12px;
	}
}

@media(max-width: 479px) and (min-width: 442px){
	#hoverServices:hover{
		font-size: 11px;
	}
}

@media(max-width: 441px) and (min-width: 415px){
	#hoverServices:hover{
		font-size: 10px;
	}
}

@media(max-width: 414px) and (min-width: 385px){
	#hoverServices:hover{
		font-size: 9px;
	}
}

@media(max-width: 384px){
	#hoverServices:hover{
		font-size: 7px;
	}
}